<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projectbored.admin">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/admin_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDI26HcgBs3lpWJz4lZn5Lo4TXy1QAlrc" />

        <activity android:name="com.projectbored.admin.Startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projectbored.admin.MapsActivityCurrentPlace"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="projectboredinc.wordpress.com"
                    android:pathPrefix="/story/" />
            </intent-filter>
        </activity>
        <activity android:name="com.projectbored.admin.StoryUpload" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.projectbored.admin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.projectbored.admin.ShowStory" />
        <activity android:name="com.projectbored.admin.Login" />
        <activity android:name="com.projectbored.admin.Logout" />
        <activity android:name="com.projectbored.admin.StoryDeleter" />
        <activity android:name="com.projectbored.admin.UserProfile" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="99b6567a311795acfabe5a3d549e6727b3ab56eb" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>